body{
	padding: 0px;
	max-height: 100%;
	height: 100%;
	overflow-y: none;
<<<<<<< HEAD
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
=======
	background: rgb(41, 38, 60);
>>>>>>> 130510f3927dfa86a848824eb300a3d41502740d
}

/*login form*/
.load_gif{
	margin: auto;
	bottom: 0;left: 0;right: 0;
	position: absolute;
}
#header{
	background: rgb(73,165,212);
	height: 180px;
	padding:20px;
}
#header > div{
	margin-top: none;
	margin-left: 100px;
	margin-right: 100px;
}
#header img{
	width: 100px;
}
#menu{
	height: 7.1%;
	padding-left:15px;
	padding-right:15px;  
	background: rgb(48,144 ,195);
	border-bottom: 4px solid rgb(2,50,72);
	position: fixed;
	width: 100%;
	left:0px;
	top: 0px;
}
#menu > div{
	margin-top: none;
	margin-left: 120px;
	margin-right: 120px;
}
<<<<<<< HEAD

=======
#footer{
	height: 3%;
	padding-left: 15px;
	padding-right: 15px;
	background: rgb(48, 144, 195);
	width: 100%;
	left: 0px;
	top: 0px;
}
#footer > div{
	margin-top:none;
	margin-left: 120px;
	margin-right: 120px;
}
.lg-ip{
	margin-top: 7px;
	outline: none;
	background: rgb(5,108,159);
	border: none;
	padding:5px;
	padding-left: 10px;
	font-size: 12px;
	color: white;
}
>>>>>>> 130510f3927dfa86a848824eb300a3d41502740d
#menu button{
	border: none;
	border-radius: 2px;
	background: rgb(5,103,150);
	font-size: 12px;
	color:white;
	padding: 5px;
}
#menu ul{
	list-style: none;
	margin-top: 7px;
}
#menu li{
	display: inline-block;
	margin: 1px;
	padding: 0px;
}
#menu button{
	padding: none;
	margin: none;
}
#notifications{
	width: 20px;
}
#notifications button{
	height: 27px;
}
#not_div{
	display: none;
	position: absolute;
	background: white;
	height: 250px;width: 300px;
	margin-left: -140px;
	border-radius:9px;
	border: 5px solid rgb(32, 95, 128);
	padding: 5px; 
}
#prof_div{
	display: none;
	position: absolute;
	background: rgb(233,233,213);
	margin-top: 6px;
	margin-left: -80px;
	height: 200px;
	width: 180px;
	border-radius:9px; 
	border: 5px solid rgb(32,95,128);
	padding: 5px;
}


#container{
	margin-right: 50px;
	margin-left: 50px;
	height: 700px;
	padding-top: 40px;
}
#header{
	margin-top: none;
	background: rgb(5,108,159);
	height: 50%;
}
#header img{
	height: 120px;
}
#slider{
	height: 250px;
	width: 90%;
	margin: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	background: blue;
}
#modal_link{
	margin-left: 50px;
}
#modal_link ul{
	margin-bottom: 0px;
	margin: none;
}
#modal_link li{
	display: inline-block;
	margin-bottom: none;
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px;
	text-align: center;
}
#modal_link img{
	height: 75px;
}

/*navigations*/
#nav > table{
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 250px;
}
#nav td{
	height:70px;
	border-left: 1px solid rgb(2,50,72);
	border-right: 1px solid rgb(2,50,72);
}
#view_nav, #doc_nav, #acct_nav, #arch_nav{
	width: 10%;
	cursor:pointer;
}
.w_gmit{
	width: 10%;
}
.navs{
	text-align: center;
}


/*miscellaneous*/
.folder{
	cursor:pointer;
}
/*workarea*/
#view_div, #doc_div, #acct_div, #bckup_div{
	height: 540px;
	background: rgb(31, 109, 152);
	margin-left: 16px;
	margin-right: 15px;
	padding-top: 20px;
}

#doc_div, #acct_div, #bckup_div{
	display: none;
}
#view_div div, #doc_div div, #acct_div div, #bckup_div div{
	margin-left: 7px;
	margin-right: 7px;
	background:white;
	height: 460px;
	
	overflow-y:auto; 
}
#view_div > h3, #doc_div h3, #acct_div h3, #bckup_div h3{
	margin-top: 0px;
	margin-left: 25px;
	color:white;
}
#view_div > select, #doc_div > select{
	margin-top:-45px;
	margin-right: 25px;
}

.upload_row .fle_Chk{
	border: 1px white;
	border-radius: 2px;
	width: 20px;
}
.upload_row button{
	background: white;
	border-radius: 3px;
}
.name_div{
	height: 100px;
	width: auto;
	display: none;
	position: absolute;
	overflow-y:auto; 
	background: white;
	border: 1px solid black;
	border-radius:5px; 
}
#acct_div > button{
	margin-top: -45px;
	margin-right: 25px;
}

/*Backups*/
#bckup_div .btn_shsetBackup{
	margin-top: -45px;
	right: 200px;
	position: absolute;
}
#bckup_div .btn_doBackup{
	margin-top: -45px;
	right: 270px;
	position: absolute;
}

/*Visual Informations*/
.col-lg-5 div{
	background: rgb(48, 144, 195);
	border-radius: 5px;
	border: 5px solid rgb(2, 50, 72);
	padding: 5px;
	text-align: justify;
	color: white;
}

/*Footer*/
